/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: bold 14px Arial, sans-serif;
} */
body{
   background-color: #313131;
}
h2{
    position: absolute;
    color: whitesmoke;
    font-size: 40px;
    top: 24px;
    left: 39%;
    margin: auto;
    letter-spacing: 4px;
    font-weight: bolder;
}
#sp{
    position: absolute;
    top: 70px;
    font-size: 20px;
    left: 39%;
    color:red;
}
#speed{
    position: absolute;
    top: 70px;
    font-size: 20px;
    left: 45%;
    color: blue;
}
#wt{
    position: absolute;
    top: 70px;
    font-size: 20px;
    left: 49%;
    color:red;
}
#time{
    position: absolute;
    top: 70px;
    font-size: 20px;
    left: 60.5%;
    color:blue;
}
#container{
    display: flex;
    margin: auto;
    position: absolute;
    top: 35%;
    height: 100px;
    left: 5%;
    width: 90%;
}
.id{
    flex:1;
    width:100%;
    height:60%;
    /*max-width: calc(100%/16*1);*/
    /*height: 100%;*/
    border: 1px solid #313131;
    background-color: white;

}
#start{
    position: absolute;
    top: 60%;
    left: 42%;
    width: 100px;
}
#stop{
    position: absolute;
    top: 60%;
    left: 51%;
    width: 100px;
}
#customRange{
    position: absolute;
  
}
#meter{
    position:absolute;
    top: 61%;
    left: 64%;
}