@media all and (max-width: 768px) and (min-width:425px){

    section:nth-child(4){
        height: 60vh;
    }

    #section4MyImage2{
        top: 10vh;
    }

    section:nth-child(4)>div{
        top: 12vh;
    }

    section:nth-child(4)>div>h5{
        font-size: 1.5vw;
    }

    section:nth-child(4)>div>h1{
        width: 35vw;
        font-size: 4vw;
        top: 3vh;
    }

    section:nth-child(4)>div>h3{
        top: 13vh;
    }

    section:nth-child(4)>div>img{
        top: 23vh;
    }

}