@media all and (max-width: 768px) and (min-width:425px){

    section:nth-child(10){
        height: 40vh;
    }

    section:nth-child(10)>h5{
        top: 10vh;
    }

    section:nth-child(10)>h1{
        top: 13vh;
    }

    section:nth-child(10)>div{
        top: 18vh;
    }

    section:nth-child(10)>div>h3{
        top: 10vh;
    }

}