@media all and (max-width: 768px) and (min-width:425px){

    section:nth-child(6){
        height: 30vh;
    }

    section:nth-child(6)>h5{
        font-size: 1.5vw;
        width: 8vw;
    }

    section:nth-child(6)>h1{
        width: 25vw;
        font-size: 4vw;
    }

    section:nth-child(6)>img{
        top: 28vh;
    }

}