@media all and (max-width: 768px) and (min-width:425px){

    section:nth-child(7){
        height: 80vh;
    }

    section:nth-child(7)>h5{
        top: 20vh;
        font-size: 1.5vw;
    }

    section:nth-child(7)>h1{
        top: 22.5vh;
        font-size: 4vw;
        width: 25vw;
    }

    #LeftArrow{
        top: 52vh;
    }

    #RightArrow{
        top: 52vh;
    }

    #Project1{
        top: 42.5vh;
    }

    #Project2{
        top: 42.5vh;
    }

}